- content_for :header_tags do
  = javascript_pack_tag 'admin', async: true, crossorigin: 'anonymous'

.dashboard
  .dashboard__item
    = react_admin_component :dimension, dimension: 'ips', start_at: 1.hour.ago, end_at: Time.now.utc, limit: 8, label: 'New accounts by IP last hour'
  .dashboard__item
    = react_admin_component :dimension, dimension: 'ips', start_at: 1.day.ago, end_at: Time.now.utc, limit: 8, label: 'New accounts by IP last day'
  .dashboard__item
    = react_admin_component :dimension, dimension: 'ips', start_at: 7.days.ago, end_at: Time.now.utc, limit: 8, label: 'New accounts by IP last week'
  .dashboard__item
    = react_admin_component :dimension, dimension: 'email_domains', start_at: 1.hour.ago, end_at: Time.now.utc, limit: 8, label: 'New accounts by e-mail domain last hour'
  .dashboard__item
    = react_admin_component :dimension, dimension: 'email_domains', start_at: 1.day.ago, end_at: Time.now.utc, limit: 8, label: 'New accounts by e-mail domain last day'
  .dashboard__item
    = react_admin_component :dimension, dimension: 'email_domains', start_at: 7.days.ago, end_at: Time.now.utc, limit: 8, label: 'New accounts by e-mail domain last week'
